.box-singleBook {
    height: 90vh;
}

.myCard {
    height: 80vh;
    width: 55em;
}

.myImg {
    height: 80vh;
    width: auto;
}

.btn-container {
    position: absolute;
    top: 1em;
    left: 1em;;
}